@import 'media-breakpoints-mixins';

.contentLayout {
  margin-left: 200px;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  padding: 0 24px 24px;
  width: 100%;

  @include media-md {
    margin-left: 80px;
  }

  @include media-sm {
    margin-left: 0;
    width: 100vw;
  }
}

.content {
  height: 100%;
}
